/* Css Reset */
*{
    margin: 0;
    padding: 0;
}


/* Naviagation menu */

#navbar{
    display: flex;
    align-items: center;
    /* position: absolute;
    top: 0px; */
}

#navbar ul{
    display: flex;

}

#navbar::before{
    content: "";
    height: 12%;
    width: 100%;
    background-color: #3575d3;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;
    /* opacity: 0.4; */
}

#navbar ul li{
    list-style: none;
    font-size: 12px;
}

#navbar ul li a{ 
    
    margin: 20px 10px;  
    color: white;
    text-decoration: none;
    display: block;
    padding: 6px 100px;
    border-radius: 20px;
    font-family: 'Bree Serif', serif;
}

#navbar ul li a:hover{ 
      color: black;
      background-color: white;
        
}

.second{
   
 display: flex; 
 width: 70%;
 align-items: center;
 padding-left: 100px;


}

#logo{
    margin: 40px 20px;
    box-sizing: border-box;
    cursor: pointer;
}

#logo img{
    height: 25px;
    margin: 4px 2px;
}

#anothernav{
    /* display: flex; */
    float: right;
    box-sizing: border-box;
    


}

#anothernav ul{
    display: flex;

}



#anothernav ul li{
    list-style: none;
    font-size: 14px;
    margin: 45px 30px;  
    
}

#anothernav ul li a{ 
    
    /* margin: 200px 10px;   */
    /* display: flex; */
    text-decoration: none;
    /* display: block; */
    /* padding: 6px 10px; */
    /* border-radius: 20px; */
    font-family: 'Bree Serif', serif;
/*  
    float: left; */
   
}

#third{
    display: block;
}


#third::before{
    content: "";
    height: 553px;
    width: 100%;
    background: url('http://www.pieas.edu.pk/images/slider/Try1/Slide14.JPG') no-repeat center center/cover;
    position: absolute;
    top: 25%;
    left: 0%;
    z-index: -1;
    opacity: 0.89;

  }


  #fourth{
    position: absolute;
    top: 115%;
    background-color: rgb(236, 231, 231);
    margin: 23px 40px;
  }

  #fourth h2{
    margin: 12px 22px;
  }


  #fourth p{
    margin: 12px 22px;
  }

  #fifth h3{
    position: absolute;
    top: 150%;
    /* background-color: rgb(236, 231, 231); */
    margin: 23px 40px;

  }

  hr{
    position: absolute;
    top: 155%;
    /* background-color: rgb(236, 231, 231); */
    margin: 23px 40px;

  }
